<header>
       <nav class="navbar navbar-expand-lg {{!--navbar-light bg-light--}} " style="background-color: #2b2a2b;"> 
        <a class="navbar-brand" href="/"style="color: aliceblue;">Shopping Cart user</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"style="color: aliceblue;">
              <i class="bi bi-box-seam"></i>
              Products
                <span class="sr-only"style="color: aliceblue;">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart"style="color: aliceblue;">
              <i class="bi bi-cart2"></i>
              Cart 
              <span class="badge badge-success" id="cart-count">{{cartCount}}</span>
              </a>
            </li>
            {{#if user}}
            <li class="nav-item">
              <a class="nav-link" href="/orders"style="color: aliceblue;">Orders</a>
            </li>
            {{/if}}
            </ul>
            <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-capitalize"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                style="color: aliceblue; "
              >
              {{#if user}}
              <i class="bi bi-person"></i>
                   {{user.username}}
                   {{else}}
                   <i class="bi bi-person"></i>
                   Account
              {{/if}}
                
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {{#if user}}
                <a class="dropdown-item" href="/user-profile">Profile</a>
                {{else}}
                <a class="dropdown-item" href="#" hidden>Profile</a>
                {{/if}}
                <a class="dropdown-item" href="#">Action 2</a>
                <div class="dropdown-divider"></div>
                {{#if user}}
                   <a class="dropdown-item" href="/logout">Logout</a>
                   {{else}}
                   <a class="dropdown-item" href="/login">Login</a>
              {{/if}}
                
              </div>
            </li>
            </ul>
          
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success my-2 my-sm-0 p-1"
              type="submit"
              style="color: aliceblue; height: 35px; width: 35px; align-items: center;"
            ><i class="bi bi-search"></i></button>
          </form>
          
        </div>
        
      </nav> 
    </header>
    